*{
    margin: zero;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image:url(./assets/pageBackground.png);
    background-color: #FFC8DD;
    color: #A2D2FF;
    font-family: "Permanent Marker", cursive;
}

h1{
    background-color: #FFAFCC;
    text-shadow: 2px 2px 5px black;
    border: 5px solid black;
    border-radius: 20px;
    margin: 100px 400px;
}

#headerP{
    width: 200px;
}

.imgGroup1{
    display: flex;

}

.imgGroup2{
    display: flex;
    margin-top: 100px;
   
}

img{
    margin-left: 30px;
    width: 300px;
    height: 300px;
    background-color: #CDB4DB;
    border: 10px solid #CDB4DB;
    border-radius: 50%;
    padding: 10px;
}

img:hover{
    scale: 1.2;
}

p{
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 100px;
    padding: 15px;
    text-shadow: 2px 2px 5px black;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #FFAFCC;
    font-size: x-large;
}

footer{
    background-color:#FFAFCC;
    border-top: 5px solid black;
    padding: 20px;
    width: 100svw;
    position: absolute;
}

h3{
    font-size: x-large;
    text-shadow: 2px 2px 5px black;
}


button{
    width: 200px;
    background-color:#A2D2FF;
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px;
    font-family: "Permanent Marker", cursive;
}

button:hover{
    background-color: #BDE0FE;
}
button:active{
    transform: translateY(4px);
}

